*.csv
studentVle.csv
data/raw/
**/__pycache__
# Model files (too large for GitHub)
*.pkl
notebooks/models/

# Environment variables
.env

# Databases
*.db
data/processed/*.db

# Virtual environments
.venv/
venv/
env/
